@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
.containment_OrgHome {
  background-color: #ffffff;
  font-family: "Vazir", "Vazirmatn", "Arabic Typesetting", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 9pt;
  /* background-image: url('../assets/colorkit1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
/*   height: 100vh;
 */}
@media only screen and (max-width: 600px) {
  @media (max-width: 768px) {
  .containment_boof {
    text-align: center;
    background-size: 100% 100%;
    justify-content: center;
  }
  }
}
.itemscenter{
    text-align: center;
    justify-content: center;
    background-position: center;
    align-items: center;
  }
.app{
  text-align: center;
  /* min-height: 100vh; */
}
.link_to_Panelorg{
  color: #26577C;
  text-decoration: none;
}
.link_to_Panelorg:hover{
color: #E55604;
text-decoration: none;
}
.rounded_image {
  border-radius: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card_image {
  margin-bottom: 10px;
}

.rounded_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card_content {
  margin-bottom: 10px;
}
.button_pre_nex{
  direction: ltr;
}