.footer{
    position:absolute;
    bottom:0;
}
.Boofehs_slide_card{
    background-color: rgba(0, 0, 0, 0.145);
    border: 2px solid rgba(0, 0, 0, 0.298);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
}