.main-content {
  text-align: center;
  min-height: 70vh;

  background-color: #ffffff;
  font-family: "Vazir", "Vazirmatn", "Arabic Typesetting", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  /* font-size: 9pt; */
  /* background-image: url('../assets/colorkit1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}