/* button */
h3{
    font-family: 'vazir';
    font-weight: 600;
}
.update-button-me , .submit-button-me , .button-pass-me {
    width: 110px;
    margin: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(38, 87, 124);
    font-family: 'vazir';
    font-weight: 500;
}

.close-button-me {
    width: 30px;
    margin-top: 0.25px;
    padding: 2px;
    color: white;
    color: rgba(38, 87, 124, 0.8);
}

.close-button-me:hover,
.update-button-me:hover,
.submit-button-me:hover {
    background-color: rgb(14, 64, 101);
    color: white;
}

/* esentials */
.bg-white-me {
    background-color: rgb(255, 255, 255);
}
.bg-opacity-30 {
    background-color: rgba(0, 0, 0, 0.4);
}
.full-screen {
    position: fixed;
    inset: 0;
}
.text-right {
    text-align: right;
  }

/* input */
input:placeholder-shown {
    background-color: white;
    border: 1px solid rgb(38, 87, 124);
    margin: 2px;
    text-align: right;
    font-family: 'vazir';
  }
input::placeholder {
    font: 0.9rem/0.9 'vazir'; 
}
   
/* other */
.modal-me {
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline-text {
    text-decoration: underline;
  text-decoration-skip-ink: auto;
  }

.border-t {
    border-top: 1px solid; /* Adjust the width as needed */
    border-color: rgb(38, 87, 124);
    
  }
/* lable */
label{
    font-family: 'vazir', sans-serif;
    font-weight: bold; /* Bold font weight */
}

/* profile pic */

.margine-me{
    margin-top: 50px;
}