.menu {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;

}
.app {
  text-align: center;
   /* min-height: 120vh; */
 
}
.page-link
{
  margin-bottom: 100px;
}
#title {
  text-align: center;
  margin-top: 50px;
}

#employee {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#employee td,
#employee th {
  border: 1px solid #ddd;
  padding: 12px;
}

#employee tr:hover {
  background-color: #ddd;
}

#employee th {
  padding: 10px;
  text-align: center;
  background-color:#ff5e14;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #4d4d4d;
  cursor: pointer;
  margin-bottom: 40px;
}

.pageLink:hover {
  background-color: #ddd;
}

.previousPage
{
  background-color:#B4B4B3 ;
}
.nextPage
{
  background-color: #B4B4B3;
}