@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {

    font-family: vazir;
  
    src: url(./font/Vazir-Light.woff);
    src: url(./font/Vazir-Bold.woff)
  
  } */

  @font-face {
    font-family: 'vazir';
    src: url(./font/Vazir-Light.woff) format('woff');
    font-weight: 200; /* Light font weight */
}

@font-face {
    font-family: 'vazir';
    src: url(./font/Vazir-Bold.woff) format('woff');
    font-weight: bold; /* Bold font weight */
}