@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    background-color: rgb(207,220,228,0.266);
    
    font-family: "Vazir", "Vazirmatn", "Arabic Typesetting", sans-serif;
}