/* body {
  margin: 0 auto;
  font-family: Arial;   Optional
} */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
  direction: rtl;
  background-color: #EBE4D1;
  font-family: "Vazirmatn","Arabic Typesetting", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size:9pt;
}
.button{
  background-color: #26577C;
  color: white;
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;

}
.button:hover{
  background-color:#E55604;
}
.zone {
  /*padding:30px 50px;*/
  margin-right: 200px;
  margin-left: 200px ;
  color:#B4B4B3;
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 900px) {
  .zone {
    font-size: 1rem;
    margin-right: 40px;
    margin-left: 40px ;
  }
}

.zone:hover {
  -webkit-box-shadow:#E55604 0px 5px 15px;
  -moz-box-shadow:#E55604 0px 5px 15px, inset #E55604 0px -10px 20px;
  -o-box-shadow:#E55604 0px 5px 15px, inset #E55604 0px -10px 20px;
  box-shadow:#E55604 0px 5px 15px;
}
/* Header */

.main_nav {  
  justify-content: center;
  align-items: center;  
  display: flex;
  list-style: none;
  margin:auto;
  font-size: 0.7em;
}
@media only screen and (max-width: 600px) {
  .main_nav {
      font-size: 0.5em;
      padding: 0;
  }
}
li {
  padding: 10px;
}

.blue/* Orange */ {
  background: #26577C; /* Old browsers */
  background: -moz-linear-gradient(top, #26577C 0%, #26577C 44%, #26577C 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26577C), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #26577C 0%,#26577C 44%,#26577C 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #26577C 0%,#26577C 44%,#26577C 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #26577C 0%,#26577C 44%,#26577C 100%); /* IE10+ */
  background: linear-gradient(top, #26577C 0%,#26577C 44%,#26577C 100%); /* W3C */
}

.header_texts{
  color: #f5f5f6;
  text-decoration: none;
}
.khane{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.khane:hover {
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:#E55604;
}
.Ertebat{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Ertebat:hover{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:#E55604;
}
.Service{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Service:hover{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:#E55604;
}
.About{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.About:hover{
  padding:10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:#E55604;
}
/* Main Form */
.form_style {  
  justify-content: center;
  align-items: center;  
  display: flex;
  list-style: none;
  margin: 10px;
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .form_style {
      font-size: 0.5em;
      padding: 0;
  }
}
.form_zone {
  margin-top: 30px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 50px;
  padding:30px 50px;
  color:#26577C;
  font-size:1rem;
  border-radius:4px;
  border:1px solid #EBE4D1;
  transition: all 0.3s linear;
}
.form_zone:hover {
  -webkit-box-shadow:#E55604 0px 5px 15px;
  -moz-box-shadow:#E55604 0px 5px 15px, inset #E55604 0px -10px 20px;
  -o-box-shadow:#E55604 0px 5px 15px, inset #E55604 0px -10px 20px;
  box-shadow:#E55604 0px 5px 15px;
}
@media only screen and (max-width: 900px) {
  .form_zone {
    margin-right: 100px;
    margin-left: 100px ;
  }
}
input{
    width:auto;
    padding: 10px 10px;
    margin: 0px 1px 5px 2px;
    box-sizing: border-box;
    border: 2px solid #26577C;
    border-radius: 4px;
  }
input:focus { 
    outline: none;
    border: 3px solid #E55604;
  }
input::placeholder {
    color: #B4B4B3;
    font-size: 1em;
    font-style: italic;
  }
.link_to_signin{
    color: #26577C;
    text-decoration: none;
  }
.link_to_signin:hover{
  color: #E55604;
  text-decoration: none;
}
.center{
  text-align: center;
}
p{
  text-align: center;
}
.Errors{
  color: #E55604;
  font-size: small;
  margin-bottom: 0px;
}
/* Footer */

footer { 
  left: 0;
  bottom: 0;
  width: 100%;
  color: #E55604;
  text-align: center;
}
